In [25]:
import requests
import json
from pprint import pprint
import numpy as np
import pandas as pd
import os
import datetime as dt

import sqlalchemy
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date
from opencage.geocoder import OpenCageGeocode # used to get long and lat of given city name
from math import radians, sin, cos, asin, sqrt # used to calculate distance of room and city longs and lats

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session


from flask import Flask, jsonify

In [ ]:
results = requests.get('https://public.opendatasoft.com/api/records/1.0/download/?dataset=air-bnb-listings&format=json').json()

In [21]:
pprint(results.fields)

0      {'updated_date': '2019-05-05', 'reviews_per_mo...
1      {'updated_date': '2019-05-05', 'reviews_per_mo...
2      {'updated_date': '2019-05-05', 'reviews_per_mo...
3      {'updated_date': '2019-05-05', 'reviews_per_mo...
4      {'updated_date': '2019-05-05', 'reviews_per_mo...
5      {'updated_date': '2019-05-05', 'reviews_per_mo...
6      {'updated_date': '2019-05-05', 'reviews_per_mo...
7      {'updated_date': '2019-05-05', 'reviews_per_mo...
8      {'updated_date': '2019-05-05', 'reviews_per_mo...
9      {'updated_date': '2019-05-05', 'reviews_per_mo...
10     {'updated_date': '2019-05-05', 'reviews_per_mo...
11     {'updated_date': '2019-05-05', 'reviews_per_mo...
12     {'updated_date': '2019-05-05', 'reviews_per_mo...
13     {'updated_date': '2019-05-05', 'reviews_per_mo...
14     {'updated_date': '2019-05-05', 'reviews_per_mo...
15     {'updated_date': '2019-05-05', 'reviews_per_mo...
16     {'updated_date': '2019-05-05', 'reviews_per_mo...
17     {'updated_date': '2019-05-05', 'reviews_per_mo...
18     {'updated_date': '2019-05-05', 'reviews_per_mo...
19     {'updated_date': '2019-05-05', 'reviews_per_mo...
20     {'updated_date': '2019-05-05', 'reviews_per_mo...
21     {'updated_date': '2019-05-05', 'reviews_per_mo...
22     {'updated_date': '2019-05-05', 'reviews_per_mo...
23     {'updated_date': '2019-05-05', 'city': 'New-or...
24     {'updated_date': '2019-05-05', 'reviews_per_mo...
25     {'updated_date': '2019-05-05', 'reviews_per_mo...
26     {'updated_date': '2019-05-05', 'reviews_per_mo...
27     {'updated_date': '2019-05-05', 'reviews_per_mo...
28     {'updated_date': '2019-05-05', 'reviews_per_mo...
29     {'updated_date': '2019-05-05', 'reviews_per_mo...
                             ...
970    {'updated_date': '2019-05-14', 'city': 'Rome',...
971    {'updated_date': '2019-05-14', 'city': 'Rome',...
972    {'updated_date': '2019-05-14', 'reviews_per_mo...
973    {'updated_date': '2019-05-14', 'reviews_per_mo...
974    {'updated_date': '2019-05-14', 'reviews_per_mo...
975    {'updated_date': '2019-05-14', 'reviews_per_mo...
976    {'updated_date': '2019-05-14', 'reviews_per_mo...
977    {'updated_date': '2019-05-14', 'reviews_per_mo...
978    {'updated_date': '2019-05-14', 'reviews_per_mo...
979    {'updated_date': '2019-05-14', 'reviews_per_mo...
980    {'updated_date': '2019-05-14', 'reviews_per_mo...
981    {'updated_date': '2019-05-14', 'reviews_per_mo...
982    {'updated_date': '2019-05-14', 'reviews_per_mo...
983    {'updated_date': '2019-05-14', 'reviews_per_mo...
984    {'updated_date': '2019-05-14', 'reviews_per_mo...
985    {'updated_date': '2019-05-14', 'reviews_per_mo...
986    {'updated_date': '2019-05-14', 'reviews_per_mo...
987    {'updated_date': '2019-05-14', 'city': 'Rome',...
988    {'updated_date': '2019-05-14', 'reviews_per_mo...
989    {'updated_date': '2019-05-14', 'reviews_per_mo...
990    {'updated_date': '2019-05-14', 'reviews_per_mo...
991    {'updated_date': '2019-05-14', 'city': 'Rome',...
992    {'updated_date': '2019-05-14', 'reviews_per_mo...
993    {'updated_date': '2019-05-14', 'reviews_per_mo...
994    {'updated_date': '2019-05-14', 'reviews_per_mo...
995    {'updated_date': '2019-05-14', 'city': 'Rome',...
996    {'updated_date': '2019-05-14', 'reviews_per_mo...
997    {'updated_date': '2019-05-14', 'reviews_per_mo...
998    {'updated_date': '2019-05-14', 'reviews_per_mo...
999    {'updated_date': '2019-05-14', 'reviews_per_mo...
Name: fields, Length: 1000, dtype: object

In [23]:
results_df = pd.read_json(results["fields"].to_json())
results_df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
availability_365,347,302,206,0,25,335,146,0,42,244,...,356,365,360,315,314,0,281,249,338,75
calculated_host_listings_count,74,1,1,2,4,17,1,1,3,1,...,1,4,10,3,1,5,2,1,2,3
city,New-orleans,New-orleans,New-orleans,New-orleans,New-orleans,New-orleans,New-orleans,New-orleans,New-orleans,New-orleans,...,Rome,Rome,Rome,Rome,Rome,Rome,Rome,Rome,Rome,Rome
column_10,1003,74,175,86,84,296,73,130,250,200,...,39,89,350,20,48,75,119,60,79,25
column_19,United states,United states,United states,United states,United states,United states,United states,United states,United states,United states,...,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy

In [26]:
transpose = results_df.transpose()
transpose.head()

,availability_365,calculated_host_listings_count,city,column_10,column_19,column_20,coordinates,host_id,id,last_review,minimum_nights,name,neighbourhood,number_of_reviews,reviews_per_month,room_type,updated_date
0,347,74,New-orleans,1003,United states,"United states, New-orleans, Central Business D...","[29.9528609234, -90.0713113928]",114353388,19051656,2017-10-19,1,Gorgeous Stay Alfred on North Carondelet Street,Central Business District,1,0.05,Entire home/apt,2019-05-05
1,302,1,New-orleans,74,United states,"United states, New-orleans, Viavant - Venetian...","[29.9870343373, -89.9449684809]",61310992,19079967,2019-04-28,1,Cozy New Orleans Efficiency On The Water,Viavant - Venetian Isles,20,4.84,Entire home/apt,2019-05-05
2,206,1,New-orleans,175,United states,"United states, New-orleans, Marlyville - Fonta...","[29.9547710049, -90.119942163]",22171971,19123547,2019-04-22,2,Townhome on the Streetcar Line,Marlyville - Fontainbleau,74,3.65,Entire home/apt,2019-05-05
3,0,2,New-orleans,86,United states,"United states, New-orleans, Lower Garden District","[29.9380891716, -90.0735907443]",710534,19245713,2019-04-29,2,Stylish 1BR Shotgun in Lower Garden District,Lower Garden District,89,3.9,Entire home/apt,2019-05-05
4,25,4,New-orleans,84,United states,"United states, New-orleans, Seventh Ward","[29.9718554828, -90.0692218041]",2428040,19267950,2019-04-27,1,Relaxing 3BR Balcony Apartment,Seventh Ward,22,1.08,Entire home/apt,2019-05-05

In [28]:
cleanData = transpose[[ 'column_10','id', 'coordinates', 'room_type', "city", 'column_19']]
cleanData.head()

,column_10,id,coordinates,room_type,city,column_19
0,1003,19051656,"[29.9528609234, -90.0713113928]",Entire home/apt,New-orleans,United states
1,74,19079967,"[29.9870343373, -89.9449684809]",Entire home/apt,New-orleans,United states
2,175,19123547,"[29.9547710049, -90.119942163]",Entire home/apt,New-orleans,United states
3,86,19245713,"[29.9380891716, -90.0735907443]",Entire home/apt,New-orleans,United states
4,84,19267950,"[29.9718554828, -90.0692218041]",Entire home/apt,New-orleans,United states

In [29]:
cleanData = cleanData.rename(index=str, columns={"column_10":"Price",
                                                 "id":"Room_Id", 
                                                 "coordinates":"Coordinates",
                                                 "column_19":"Country", 
                                                 "room_type":"Room_Type",
                                                 "city":"City"})

cleanData.head()

,Price,Room_Id,Coordinates,Room_Type,City,Country
0,1003,19051656,"[29.9528609234, -90.0713113928]",Entire home/apt,New-orleans,United states
1,74,19079967,"[29.9870343373, -89.9449684809]",Entire home/apt,New-orleans,United states
2,175,19123547,"[29.9547710049, -90.119942163]",Entire home/apt,New-orleans,United states
3,86,19245713,"[29.9380891716, -90.0735907443]",Entire home/apt,New-orleans,United states
4,84,19267950,"[29.9718554828, -90.0692218041]",Entire home/apt,New-orleans,United states

In [40]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in cleanData['Coordinates']:
   # Try to,
   try:
       # Split the row by comma and append
       # everything before the comma to lat
       lat.append(row[0])
       # Split the row by comma and append
       # everything after the comma to lon
       lon.append(row[1])
   # But if you get an error
   except:
       # append a missing value to lat
       lat.append(np.NaN)
       # append a missing value to lon
       lon.append(np.NaN)

# Create two new columns from lat and lon
cleanData['Latitude'] = lat
cleanData['Longitude'] = lon

In [46]:
cleanData.drop(columns=["Coordinates"])
cleanData.head()

,Price,Room_Id,Coordinates,Room_Type,City,Country,Latitude,Longitude
0,1003,19051656,"[29.9528609234, -90.0713113928]",Entire home/apt,New-orleans,United states,29.952861,-90.071311
1,74,19079967,"[29.9870343373, -89.9449684809]",Entire home/apt,New-orleans,United states,29.987034,-89.944968
2,175,19123547,"[29.9547710049, -90.119942163]",Entire home/apt,New-orleans,United states,29.954771,-90.119942
3,86,19245713,"[29.9380891716, -90.0735907443]",Entire home/apt,New-orleans,United states,29.938089,-90.073591
4,84,19267950,"[29.9718554828, -90.0692218041]",Entire home/apt,New-orleans,United states,29.971855,-90.069222

In [48]:
cleanData["Selection"] = cleanData["City"]+", "+cleanData["Country"]
cleanData.head()

,Price,Room_Id,Coordinates,Room_Type,City,Country,Latitude,Longitude,Selection
0,1003,19051656,"[29.9528609234, -90.0713113928]",Entire home/apt,New-orleans,United states,29.952861,-90.071311,"New-orleans, United states"
1,74,19079967,"[29.9870343373, -89.9449684809]",Entire home/apt,New-orleans,United states,29.987034,-89.944968,"New-orleans, United states"
2,175,19123547,"[29.9547710049, -90.119942163]",Entire home/apt,New-orleans,United states,29.954771,-90.119942,"New-orleans, United states"
3,86,19245713,"[29.9380891716, -90.0735907443]",Entire home/apt,New-orleans,United states,29.938089,-90.073591,"New-orleans, United states"
4,84,19267950,"[29.9718554828, -90.0692218041]",Entire home/apt,New-orleans,United states,29.971855,-90.069222,"New-orleans, United states"

In [ ]:
conn_str = "root:***password***@localhost/airbnb_data"
engine = create_engine(f'mysql://{conn_str}')

#check for tables in database
#engine.table_names()

#enter data into database
***df***.to_sql(name="airbnb_data_tbl", con=engine, if_exists="append",index=False)

In [6]:
# from opencage.geocoder import OpenCageGeocode

ImportError: No module named opencage.geocoder

In [3]:
API_key = "30c5a732512c41af8f052a21f806fcce"

geocoder = OpenCageGeocode(API_key)

city_country = 'New-orleans, United states'

results = geocoder.geocode(city_country)

print (results)

[{'annotations': {'DMS': {'lat': "29° 56' 59.75628'' N", 'lng': "90° 4' 12.41616'' W"}, 'FIPS': {'county': '22071', 'state': '22'}, 'MGRS': '15RYP8278416849', 'Maidenhead': 'EL49xw17ox', 'Mercator': {'x': -10026559.404, 'y': 3475787.346}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?relation=131885#map=17/29.94993/-90.07012', 'url': 'https://www.openstreetmap.org/?mlat=29.94993&mlon=-90.07012#map=17/29.94993/-90.07012'}, 'UN_M49': {'regions': {'AMERICAS': '019', 'NORTHERN_AMERICA': '021', 'US': '840', 'WORLD': '001'}, 'statistical_groupings': ['MEDC']}, 'callingcode': 1, 'currency': {'alternate_symbols': ['US$'], 'decimal_mark': '.', 'disambiguate_symbol': 'US$', 'html_entity': '$', 'iso_code': 'USD', 'iso_numeric': '840', 'name': 'United States Dollar', 'smallest_denomination': 1, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': '$', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇺🇸', 'geohash': '9vrfqkhzn0n10w7xxb9y', 'qibla': 49.29, 'roadinfo': {'drive_on': 'right', 'speed_in': 'mph'}, 'sun': {'rise': {'apparent': 1561201140, 'astronomical': 1561195380, 'civil': 1561199520, 'nautical': 1561197480}, 'set': {'apparent': 1561165440, 'astronomical': 1561171200, 'civil': 1561167060, 'nautical': 1561169040}}, 'timezone': {'name': 'America/Chicago', 'now_in_dst': 1, 'offset_sec': -18000, 'offset_string': '-0500', 'short_name': 'CDT'}, 'what3words': {'words': 'react.pyramid.stow'}, 'wikidata': 'Q34404'}, 'bounds': {'northeast': {'lat': 30.1994687, 'lng': -89.6251763}, 'southwest': {'lat': 29.8654809, 'lng': -90.14003}}, 'components': {'ISO_3166-1_alpha-2': 'US', 'ISO_3166-1_alpha-3': 'USA', '_type': 'city', 'city': 'New Orleans', 'continent': 'North America', 'country': 'USA', 'country_code': 'us', 'county': 'Orleans Parish', 'state': 'Louisiana', 'state_code': 'LA'}, 'confidence': 2, 'formatted': 'New Orleans, LA, United States of America', 'geometry': {'lat': 29.9499323, 'lng': -90.0701156}}, {'annotations': {'DMS': {'lat': "29° 46' 37.67520'' N", 'lng': "95° 18' 57.03480'' W"}, 'FIPS': {'county': '48201', 'state': '48'}, 'MGRS': '15RTN7611396338', 'Maidenhead': 'EL29is26cm', 'Mercator': {'x': -10610511.107, 'y': 3453717.764}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?way=15415929#map=17/29.77713/-95.31584', 'url': 'https://www.openstreetmap.org/?mlat=29.77713&mlon=-95.31584#map=17/29.77713/-95.31584'}, 'UN_M49': {'regions': {'AMERICAS': '019', 'NORTHERN_AMERICA': '021', 'US': '840', 'WORLD': '001'}, 'statistical_groupings': ['MEDC']}, 'callingcode': 1, 'currency': {'alternate_symbols': ['US$'], 'decimal_mark': '.', 'disambiguate_symbol': 'US$', 'html_entity': '$', 'iso_code': 'USD', 'iso_numeric': '840', 'name': 'United States Dollar', 'smallest_denomination': 1, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': '$', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇺🇸', 'geohash': '9vk1rhc07gspm27kmfyf', 'qibla': 45.52, 'roadinfo': {'drive_on': 'right', 'road': 'New Orleans', 'road_type': 'residential', 'speed_in': 'mph'}, 'sun': {'rise': {'apparent': 1561202460, 'astronomical': 1561196640, 'civil': 1561200780, 'nautical': 1561198800}, 'set': {'apparent': 1561166640, 'astronomical': 1561172400, 'civil': 1561168320, 'nautical': 1561170300}}, 'timezone': {'name': 'America/Chicago', 'now_in_dst': 1, 'offset_sec': -18000, 'offset_string': '-0500', 'short_name': 'CDT'}, 'what3words': {'words': 'churn.orange.risky'}}, 'bounds': {'northeast': {'lat': 29.777146, 'lng': -95.31556}, 'southwest': {'lat': 29.777132, 'lng': -95.315843}}, 'components': {'ISO_3166-1_alpha-2': 'US', 'ISO_3166-1_alpha-3': 'USA', '_type': 'road', 'city': 'Houston', 'continent': 'North America', 'country': 'USA', 'country_code': 'us', 'county': 'Harris County', 'postcode': '77020', 'road': 'New Orleans', 'road_type': 'residential', 'state': 'Texas', 'state_code': 'TX'}, 'confidence': 9, 'formatted': 'New Orleans, Houston, TX 77020, United States of America', 'geometry': {'lat': 29.777132, 'lng': -95.315843}}, {'annotations': {'DMS': {'lat': "29° 25' 28.10280'' N", 'lng': "94° 41' 37.92840'' W"}, 'FIPS': {'county': '48167', 'state': '48'}, 'MGRS': '15RUN3568356208', 'Maidenhead': 'EL29pk61ru', 'Mercator': {'x': -10541273.278, 'y': 3408796.026}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?way=20899631#map=17/29.42447/-94.69387', 'url': 'https://www.openstreetmap.org/?mlat=29.42447&mlon=-94.69387#map=17/29.42447/-94.69387'}, 'UN_M49': {'regions': {'AMERICAS': '019', 'NORTHERN_AMERICA': '021', 'US': '840', 'WORLD': '001'}, 'statistical_groupings': ['MEDC']}, 'callingcode': 1, 'currency': {'alternate_symbols': ['US$'], 'decimal_mark': '.', 'disambiguate_symbol': 'US$', 'html_entity': '$', 'iso_code': 'USD', 'iso_numeric': '840', 'name': 'United States Dollar', 'smallest_denomination': 1, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': '$', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇺🇸', 'geohash': '9vhxmhw1bzmd7h66585t', 'qibla': 46.1, 'roadinfo': {'drive_on': 'right', 'road': 'New Orleans', 'road_type': 'residential', 'speed_in': 'mph'}, 'sun': {'rise': {'apparent': 1561202340, 'astronomical': 1561196580, 'civil': 1561200720, 'nautical': 1561198740}, 'set': {'apparent': 1561166460, 'astronomical': 1561172160, 'civil': 1561168080, 'nautical': 1561170060}}, 'timezone': {'name': 'America/Chicago', 'now_in_dst': 1, 'offset_sec': -18000, 'offset_string': '-0500', 'short_name': 'CDT'}, 'what3words': {'words': 'bagel.treated.overdone'}}, 'bounds': {'northeast': {'lat': 29.424749, 'lng': -94.693412}, 'southwest': {'lat': 29.42415, 'lng': -94.69444}}, 'components': {'ISO_3166-1_alpha-2': 'US', 'ISO_3166-1_alpha-3': 'USA', '_type': 'road', 'continent': 'North America', 'country': 'USA', 'country_code': 'us', 'county': 'Galveston County', 'hamlet': 'Bolivar Beach', 'neighbourhood': 'Gulfport Village', 'postcode': '77650', 'road': 'New Orleans', 'road_type': 'residential', 'state': 'Texas', 'state_code': 'TX'}, 'confidence': 9, 'formatted': 'New Orleans, Bolivar Beach, TX 77650, United States of America', 'geometry': {'lat': 29.424473, 'lng': -94.693869}}, {'annotations': {'DMS': {'lat': "60° 45' 43.30188'' N", 'lng': "151° 10' 35.84676'' W"}, 'FIPS': {'county': '02122', 'state': '02'}, 'MGRS': '5VNH9934637661', 'Maidenhead': 'BP40js82tv', 'Mercator': {'x': -16828904.815, 'y': 8534063.476}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?way=8977458#map=17/60.76203/-151.17662', 'url': 'https://www.openstreetmap.org/?mlat=60.76203&mlon=-151.17662#map=17/60.76203/-151.17662'}, 'UN_M49': {'regions': {'AMERICAS': '019', 'NORTHERN_AMERICA': '021', 'US': '840', 'WORLD': '001'}, 'statistical_groupings': ['MEDC']}, 'callingcode': 1, 'currency': {'alternate_symbols': ['US$'], 'decimal_mark': '.', 'disambiguate_symbol': 'US$', 'html_entity': '$', 'iso_code': 'USD', 'iso_numeric': '840', 'name': 'United States Dollar', 'smallest_denomination': 1, 'subunit': 'Cent', 'subunit_to_unit': 100, 'symbol': '$', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇺🇸', 'geohash': 'bdu3xvks3r4c4n9cjxbs', 'qibla': 349.68, 'roadinfo': {'drive_on': 'right', 'road': 'New Orleans', 'road_type': 'residential', 'speed_in': 'mph'}, 'sun': {'rise': {'apparent': 1561206600, 'astronomical': 0, 'civil': 0, 'nautical': 0}, 'set': {'apparent': 1561189200, 'astronomical': 0, 'civil': 0, 'nautical': 0}}, 'timezone': {'name': 'America/Anchorage', 'now_in_dst': 1, 'offset_sec': -28800, 'offset_string': '-0800', 'short_name': 'AKDT'}, 'what3words': {'words': 'attention.stylists.just'}}, 'bounds': {'northeast': {'lat': 60.7624471, 'lng': -151.1749079}, 'southwest': {'lat': 60.7620283, 'lng': -151.1804917}}, 'components': {'ISO_3166-1_alpha-2': 'US', 'ISO_3166-1_alpha-3': 'USA', '_type': 'road', 'continent': 'North America', 'country': 'USA', 'country_code': 'us', 'county': 'Kenai Peninsula', 'postcode': '99961', 'road': 'New Orleans', 'road_type': 'residential', 'state': 'Alaska', 'state_code': 'AK'}, 'confidence': 9, 'formatted': 'New Orleans, Kenai Peninsula, AK 99961, United States of America', 'geometry': {'lat': 60.7620283, 'lng': -151.1766241}}]

In [4]:
lat = results[0]['geometry']['lat']
lng = results[0]['geometry']['lng']
print (lat, lng)

29.9499323 -90.0701156

In [ ]:
list_lat = []   # create empty lists
list_long = []

for index, row in df_crime_more_cities.iterrows(): # iterate over rows in dataframe

    City = row['City']
    State = row['State']       
    query = str(City)+", "+str(State)
                  
    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']

    
    list_lat.append(lat)
    list_long.append(long)
    
# create new columns from lists    
df_crime_more_cities['lat'] = list_lat   
df_crime_more_cities['lon'] = list_long

## Lat/Long Distance Calculation

In [22]:
#room_id: 19051656 / city: New-orleans, United states
room_lat1 =  29.952861
city_lat2 =  29.9499323
room_long1 =  -90.071311
city_long2 =  -90.0701156

def distance(room_long1, room_lat1, city_long2, city_lat2):
    room_long1, room_lat1, city_long2, city_lat2 = map(radians, [room_long1, room_lat1, city_long2, city_lat2])
    dlon = city_long2 - room_long1
    dlat = city_lat2 - room_lat1
    a = sin(dlat / 2) ** 2 + cos(room_lat1) * cos(city_lat2) * sin(dlon / 2) ** 2
    return 2 * 3958.756 * asin(sqrt(a)) #6371 km / 3958.756 for miles

In [23]:
print(distance(room_long1, room_lat1, city_long2, city_lat2))

0.2146353780659043

In [ ]:
# this sites confirmed the calculation is correct:
# https://www.gpsvisualizer.com/calculators